@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--backgroundcolor: #2F2F2F;
	--gris_input: #555;
}

/* Form */


#login_form {
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
	z-index: 1;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
	width: 500px;
	padding: 40px;
	background: var(--backgroundcolor);
}

#login_form_parent {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(8px);
}

#login_form h2 {
	color: #FFF;
	margin-bottom: 45px;
}

.input_box {
	position: relative;
	height: 40px;
	width: 100%;
	margin-top: 50px;
}

.input_box input {
	position: absolute;
	background: transparent;
	border:none;
	box-shadow: none;
	font-size: 16px;
	color: #FFF;
	width: 100%;
	outline: none;
}

.input_box label {
	position: absolute;
	top: 0;
	left: 0;
	color: var(--gris_input);
	pointer-events: none;
	display: block;
	transition: 0.5s;
}

.input_box input:focus + label, .input_box input:valid + label {
	transform: translateY(-35px);
	font-size: 14px;
	color: #FFF;
	background: #FF006A;
	padding: 2px 6px;
}

.input_box span {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	background: var(--gris_input);
	width: 100%;
	height: 2px;
}

.input_box span:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00B0FF;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

.input_box input:focus ~ span:before,
.input_box input:valid ~ span:before {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}



/* Bouton */

#login_form #btn {
	margin-top: 80px;
	border: none;
	box-shadow: none;
	padding: 10px 25px;
	background: #333;
	color: #FFF;
	font-size: 16px;
    cursor: pointer;
    transition: all 0.06s ease-in;
}

#login_form #btn:hover {
    background: #00BCD4;
}

/* Error */
#login_form #error {
    position: absolute;
    color: red;
    font-weight: bold;
    margin: 30px 0px 20px 0px; 
}



/* Echeance */
#datetime {
	position: relative;
	margin-top: 30px;
}

#datetime input {
	padding: 10px 5px;
	border: none;
	border-radius: 2px;
	font-family: 'Poppins', sans-serif;
	color: var(--gris_input);
	background-color: var(--backgroundcolor);
}

#datetime input:focus, #datetime input:valid {
	color: white;
}

#datetime >* {
	outline: none;
}

#datetime span {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background: var(--gris_input);
	width: 62%;
	height: 2px;
}

#datetime label {
	color: var(--gris_input);
}


#datetime span:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00B0FF;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

#datetime input:focus ~ span:before,
#datetime input:valid ~ span:before {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}

#datetime input:focus ~ label,
#datetime input:valid ~ label {
	font-size: 14px;
	color: #FFF;
	background: #FF006A;
	padding: 2px 6px;
}


/* Toute la journée */
/* https://moderncss.dev/pure-css-custom-checkbox-style/ */
/*
#whole_day {
	color: var(--gris_input);
}


#whole_day input[type="checkbox"] {
	content: '';
	-webkit-appearance: none;
	font: inherit;
	color: currentColor;
	width: 20px;
	height: 20px;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
}
  
#whole_day input[type="checkbox"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: bottom left;
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	background-color: white;
}

#whole_day input[type="checkbox"]:checked::before {
	transform: scale(1);
}
/*


/* Type de tache */
#type {
	position: relative;
	margin-top: 30px;
	padding-bottom: 10px;
}

#type span {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	background: var(--gris_input);
	width: 100%;
	height: 2px;
}

#type label {
	font-size: 14px;
	color: #FFF;
	background: #FF006A;
	padding: 2px 6px;
}

#type span:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00B0FF;
	transform: scaleX(1);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

#type select {
	width: 110px;
	margin-left: 8px;
	border-radius: 3px;
	border: none;
	padding: 7px 10px;
	cursor: pointer;
	outline: none;
	background-color: var(--backgroundcolor);
	color: white;
	  
}