<link rel="stylesheet" type="text/css" href="../../static/styles/templates_forms_styles/account.css" />
<div id="account_form_parent">
    <div id="account_form">
        <img src="../../static/icons/close_blanc.png" id="close_task" alt="Fermer" title="Fermer">

        <h2>Informations du compte</h2>
        <form method="POST" autocomplete="off">
            <div class="input_box">
                <input type="text" name="username" id="id" value="{{ user.get_username() }}" required>
                <label>Identifiant</label>
                <span></span>
            </div>

            <input type="hidden" name="user_id" value="{{ user.get_user_id() }}">

            <div class="input_box">
                <input type="password" name="password" id="mdp" value="">
                <label>Mot de passe</label>
                <span></span>
            </div>

			<div id="categories">
				<h3>Catégories :</h3>
				<ul>
                    {% for type in user.get_types() %}
                        <li>{{ type[1] }}</li>
                    {% endfor %}
				</ul>
            </div>

			<input type="button" value="Nouvelle catégorie" onclick="nouvelle_categorie()"/>




            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

                {% for category, message in messages %}
                    {%  if category == "error" %}
                        <p id="error">{{ message }}</p>
                    {% elif category == "success" %}
                        <p id="success">{{ message }}</p>
                    {% endif %}
                {% endfor %}

            {% endif %}
            {% endwith %}

            <div id="boutons">
                <input type="submit" value="Enregistrer" formaction="{{ url_for('add_type') }}">
            </div>
            <script>

				function nouvelle_categorie() {
                    let list_type = document.getElementById("categories").querySelector("ul")

                    // get all li elements for list_type
                    let li_elements = list_type.getElementsByTagName("li")
                    let li_elements_length = li_elements.length

                    // get the last li element
                    let last_li_element = li_elements[li_elements_length - 1]

                    console.log(last_li_element.innerHTML)
                    console.log(last_li_element.innerHTML.includes("name=\"new_type_"))

                    if (last_li_element.innerHTML.includes("name=\"new_type_")) {
                        let id = parseInt(last_li_element.innerHTML.split("name=\"new_type_")[1].split("\"")[0]) + 1
                        let new_li_element = document.createElement("li")
                        new_li_element.innerHTML = "<input type='text' name='new_type_" + id + "'/>"
                        list_type.appendChild(new_li_element)
                    } else {
                        let new_li_element = document.createElement("li")
                        new_li_element.innerHTML = "<input type='text' name='new_type_0'/>"
                        list_type.appendChild(new_li_element)
                    }
				}
            </script>

        </form>
    </div>
</div>

