<link rel="stylesheet" type="text/css" href="../../static/styles/templates_forms_styles/account.css"/>
<div id="account_form_parent">
    <div id="account_form">
        <img src="../../static/icons/close_blanc.png" id="close_task" alt="Fermer" title="Fermer"
             onclick="clear_error()">

        <h2>Informations du compte</h2>
        <form method="POST" autocomplete="off">
            <div class="input_box">
                <input type="text" name="username" id="id" value="{{ user.get_username() }}" maxlength="20" required>
                <label>Identifiant</label>
                <span></span>
            </div>

            <div class="input_box">
                <input type="password" name="password" id="mdp" value="">
                <label>Mot de passe</label>
                <span></span>
            </div>

            <div id="categories">
                <h3>Catégories :</h3>
                <ul>
                    {% for type in user.get_types() %}
                        <li>{{ type[1] }}
                            <img src="../../static/icons/corbeille_rouge.png" class="delete_categorie"
                                 title="Supprimer catégorie" alt="Supprimer catégorie" name="{{ type[0] }}">
                        </li>

                    {% endfor %}
                </ul>
            </div>

            <input type="hidden" name="new_type_length" value="0">
            <input type="hidden" name="used_type" value="{{ user.get_used_types() }}">

            <input type="button" value="Nouvelle catégorie" onclick="nouvelle_categorie()"/>

            <p id="error"></p>

            <div id="boutons">
                <input type="submit" value="Enregistrer" formaction="{{ url_for('update_user') }}"
                       onclick="checkpass()">
            </div>
            <script>

                function clear_error() {
                    document.getElementById("error").innerHTML = "";
                }

                function checkpass() {
                    if (document.getElementById("mdp").value.length < 3 && document.getElementById("mdp").value.length > 0) {
                        document.getElementById("error").innerHTML = "Le mot de passe doit contenir au moins 3 caractères";
                        event.preventDefault();
                    }
                }

                function nouvelle_categorie() {

                    let input = document.getElementsByName("new_type_length")[0];
                    let list_type = document.getElementById("categories").querySelector("ul")
                    let li_elements = list_type.getElementsByTagName("li")

                    let last_li_element = (li_elements.length > 0) ? li_elements[li_elements.length - 1] : null

                    if (last_li_element != null && last_li_element.innerHTML.includes("name=\"new_type_")) {
                        let id = parseInt(last_li_element.innerHTML.split("name=\"new_type_")[1].split("\"")[0]) + 1
                        let new_li_element = document.createElement("li")
                        new_li_element.innerHTML = "<input type='text' name='new_type_" + id + "'/> " +
                            "<img src='../../static/icons/corbeille_rouge.png' class='delete_categorie_added'" +
                            "title='Supprimer catégorie' alt='Supprimer catégorie'>"
                        list_type.appendChild(new_li_element)
                    } else {
                        let new_li_element = document.createElement("li")
                        new_li_element.innerHTML = "<input type='text' name='new_type_0'/> " +
                            "<img src='../../static/icons/corbeille_rouge.png' class='delete_categorie_added'" +
                            "title='Supprimer catégorie' alt='Supprimer catégorie'>"
                        list_type.appendChild(new_li_element)

                    }

                    input.value = parseInt(input.value) + 1

                    let delete_categorie = document.getElementsByClassName("delete_categorie_added")
                    for (let i = 0; i < delete_categorie.length; i++) {
                        delete_categorie[i].addEventListener("click", function () {
                            this.parentNode.remove()
                        })
                    }

                }

                let delete_categorie = document.getElementsByClassName("delete_categorie")
                for (let i = 0; i < delete_categorie.length; i++) {
                    delete_categorie[i].addEventListener("click", function () {
                        let name = this.getAttribute("name")

                        let used_type = document.getElementsByName("used_type")[0]

                        if (used_type.value.includes(name)) {
                            document.getElementById("error").innerHTML = "Cette catégorie est utilisée, vous ne pouvez pas la supprimer"
                        } else {
                            this.parentNode.remove()

                            let form = document.createElement("form")
                            form.setAttribute("method", "POST")
                            form.setAttribute("action", "{{ url_for('delete_type') }}")

                            let input = document.createElement("input")
                            input.setAttribute("type", "hidden")
                            input.setAttribute("name", "type_id")
                            input.setAttribute("value", name)

                            form.appendChild(input)
                            document.body.appendChild(form)
                            form.submit()

                            document.body.removeChild(form)

                        }
                    })
                }

            </script>
        </form>
    </div>
</div>

