<link rel="stylesheet" type="text/css" href="../../static/styles/templates_forms_styles/login.css">
{% if not user %}
<div id="login_form_parent">
    <div id="login_form">
        <h2>Se connecter à votre liste de tâches</h2>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="input_box">
                <input type="text" name="username" id="id" autocomplete="off" required>
                <label>Identifiant</label>
                <span></span>
            </div>

            <div class="input_box">
                <input type="password" name="password" id="mdp" autocomplete="off" required>
                <label>Mot de passe</label>
                <span></span>
            </div>


            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                
                {% for category, message in messages %}
                    {%  if category == "error" %}
                        <p id="error">{{ message }}</p>
                    {% elif category == "success" %}
                        <p id="success">{{ message }}</p>
                    {% endif %}
                {% endfor %}
                
            {% endif %}
            {% endwith %}

            <div id="boutons">
                <input type="submit" value="Connexion" />
                <input type="submit" value="S'inscrire"/>
            </div>

        </form>
    </div>
</div>
{% endif %}