<link rel="stylesheet" type="text/css" href="../../static/styles/templates_forms_styles/login.css"/>
<div id="login_form_parent">
    <div id="login_form">
        <h2>Se connecter / S'inscrire à votre liste de tâches</h2>
        <form action="/" method="POST" autocomplete="off">
            <div class="input_box">
                <input type="text" name="username" id="id" maxlength="20" required>
                <label>Identifiant</label>
                <span></span>
            </div>

            <div class="input_box">
                <input type="password" name="password" id="mdp" required>
                <label>Mot de passe</label>
                <span></span>

                <img id="eye" src="../../static/icons/eye-off.svg" onclick="click_eye()">
                <img id="eye_off" src="../../static/icons/eye.svg" onclick="click_eye_off()">
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

                    {% for category, message in messages %}
                        {% if category == "error" %}
                            <p id="error">{{ message }}</p>
                        {% elif category == "success" %}
                            <p id="success">{{ message }}</p>
                        {% endif %}
                    {% endfor %}

                {% endif %}
            {% endwith %}

            <div id="boutons">
                <input type="submit" value="Connexion" onclick="login_fx()"/>
                <input type="submit" value="S'inscrire" onclick="register_fx()"/>
            </div>


            <script>
                function login_fx() {
                    document.querySelector("form").action = "{{ url_for('login') }}"
                }

                function register_fx() {
                    document.querySelector("form").action = "{{ url_for('register') }}"
                }

                function click_eye() {
                    document.getElementById("eye").style.display = "none";
                    document.getElementById("eye_off").style.display = "inline-block";
                    document.getElementById("mdp").type = "text";
                }

                function click_eye_off() {
                    document.getElementById("eye_off").style.display = "none";
                    document.getElementById("eye").style.display = "inline-block";
                    document.getElementById("mdp").type = "password";
                }
            </script>

        </form>
    </div>
</div>