<link rel="stylesheet" type="text/css" href="../../static/styles/templates_forms_styles/task.css">

<div id="task_add_parent">
    <div id="task_add">

        <!-- Bouton annuler fermer la popup -->
        <img src="../../static/icons/close_blanc.png" id="close_task" alt="Fermer" title="Fermer">

        <h2>Ajouter une tâche</h2>

        <!-- Formulaire d'ajout de tâche -->
        <form action="{{ url_for('add_task') }}" method="POST" autocomplete="off">

            <!-- Nom de la tâche -->
            <div class="input_box">
                <input type="text" name="nom" id="nom" maxlength="15" required>
                <label>Nom</label>
                <span></span>
            </div>

            <!-- Description de la tâche -->
            <div class="input_box">
                <input type="text" name="description" id="description" maxlength="49" required>
                <label>Description</label>
                <span></span>
            </div>

            <!-- Type de la tâche -->
            <div id="type">
                <label>Type</label>
                <select name="type_tache" id="type_tache" required>
                    {% for type in user.get_types() %}
                        <option value="{{ type[0] }}">{{ type[1] }}</option>
                    {% endfor %}
                </select>
                <span></span>
            </div>

            <!-- Priorité de la tâche -->
            <div id="priority">
                <label>Priorité</label>
                <select name="priority_tache" id="priority_tache" required>
                    {% for priority in user.get_priorities() %}
                        <option value="{{ priority[0] }}">{{ priority[1] }}</option>
                    {% endfor %}
                </select>
                <span></span>
            </div>

            <!-- Echéance de la tâche -->
            <div id="datetime">
                <input type="datetime-local" name="echeance" id="hh" max="2100-12-31T23:59" required>
                <label>Echéance</label>
                <span></span>
            </div>

            <!-- Bouton d'ajout de la tâche -->
            <input type="submit" id="btn" value="Ajouter">

        </form>
    </div>
</div>

