<link rel="stylesheet" type="text/css" href="../../static/styles/templates_forms_styles/task.css">

<div id="task_add_parent">
    <div id="task_add">
        <img src="../../static/icons/close_blanc.png" id="close_task" alt="Fermer" title="Fermer">
        
        <h2>Ajouter une tâche</h2>
        <form action="{{ url_for('add_task') }}" method="POST" autocomplete="off">


            <div class="input_box">
                <input type="text" name="nom" id="nom" required>
                <label>Nom</label>
                <span></span>
            </div>

            <div class="input_box">
                <input type="text" name="description" id="description" maxlength="49" required>
                <label>Description</label>
                <span></span>
            </div>

            <div id="type">
                <label>Type</label>
                <select name="type_tache" id="type_tache" required>
                    {% for type in user.get_types() %}
                        <option value="{{ type[0] }}">{{ type[1] }}</option>
                    {% endfor %}
                </select>
                <span></span>
            </div>

            <div id="datetime">
                <input type="datetime-local" name="echeance" id="hh" required>
                <label>Echéance</label>
                <span></span>
            </div>

            <!--<div id="whole_day">
                <input type="checkbox" name="whole_day" />
                <label>Toute la journée</label>
            </div>-->

            


            <!--{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                
                {% for category, message in messages %}
                    {%  if category == "error" %}
                        <p id="error">{{ message }}</p>
                    {% endif %}
                {% endfor %}
                
            {% endif %}
            {% endwith %}-->

            <input type="submit" id="btn" value="Ajouter">

        </form>
    </div>
</div>
