<link rel="stylesheet" type="text/css" href="../../static/styles/templates_forms_styles/task.css">

<div id="task_form_parent">
    <div id="task_form">
        <img src="../../static/icons/close_blanc.png" alt="Fermer" title="Fermer" onclick="document.getElementById('task_form_parent').style.display = 'none'">
        
        <h2>Ajouter une tâche</h2>
        <form action="{{ url_for('add_task') }}" method="POST">


            <div class="input_box">
                <input type="text" name="nom" required="required" id="nom" autocomplete="off" />
                <label>Nom</label>
                <span></span>
            </div>

            <div class="input_box">
                <input type="text" name="description" required="required" id="description" autocomplete="off" />
                <label>Description</label>
                <span></span>
            </div>

            <div id="type">
                <label>Type</label>
                <select name="type_tache" id="type_tache">
                    <option value="maison">Maison</option>
                    <option value="travail">Travail</option>
                </select>
                <span></span>
            </div>

            <div id="datetime">
                <input type="datetime-local" name="echeance" required="required" id="hh" autocomplete="off" />
                <label>Echéance</label>
                <span></span>
            </div>

            <!--<div id="whole_day">
                <input type="checkbox" name="whole_day" />
                <label>Toute la journée</label>
            </div>-->

            


            <!--{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                
                {% for category, message in messages %}
                    {%  if category == "error" %}
                        <p id="error">{{ message }}</p>
                    {% endif %}
                {% endfor %}
                
            {% endif %}
            {% endwith %}-->

            <input type="submit" id="btn" value="Ajouter">

        </form>
    </div>
</div>

<script>
    window.onclick = function(event) {
       if (event.target.id === "task_form_parent") {
          document.getElementById("task_form_parent").style.display = "none";
       }
    }
</script>
