<!-- On hérite du template de base -->
{% extends "base.html" %}


<!-- On ajoute notre propre contenu -->
{% block contenu %}

    <link rel="stylesheet" href="../static/styles/about.css">


    <!-- Informations -->
    <div id="info">
        <h1>À propos</h1>
        <p>Voici la partie À propos de l'application <strong>ToDoList</strong>.</p>
    </div>


    <!-- Crédits / A propos -->
    <div id="about">
        <p>Site créé par :</p>
        <ul>
            <li><a href="https://github.com/Ashokaas" target="_blank">Ashokas</a></li>
            <li><a href="https://github.com/Holo795" target="_blank">ɧσℓσ</a></li>
            <li><a href="https://github.com/maxime0109" target="_blank">Maxime0109</a></li>
        </ul>
        <p>Le site est entièrement responsive et possède un dark mode en fonction des préférences de votre
            navigateur.</p>
        <p>Le projet complet est disponible en open source sur <a href="https://github.com/Holo795/ToDoList_NSI"
                                                                  target="_blank">GitHub</a>.</p>
    </div>


{% endblock %}