<!-- On hérite du template de base -->
{% extends "base.html" %}


<!-- On ajoute notre propre contenu -->
{% block contenu %}

{% if user %}    
    <input type="submit" id="bouton_nouvelle_tache" value="Nouvelle tâche" onclick="document.getElementById('task_add_parent').style.display = 'block'">



    <!-- Tableau tâches à effectuer-->
    <table id="tableau_taches" cellspacing="0">
		<thead>
			<tr>
				<td id="tache"><p>Tâche</p> 
                    <div id="categories">
                        <select name="categories" id="type_tache" onchange="location=this.value">
                            {% if user.get_filter() != -1 %}
                                {% for type in user.get_types() %}
                                    {% if type[0] == user.get_filter() %}
                                        <option value="/show_tasks?filter={{user.get_filter()}}">{{ type[1] }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <option value="/show_tasks?filter=-1">Toutes les tâches</option>
                            
                            {% for type in user.get_types() %}
                                {% if user.get_filter() != type[0] %}
                                    <option value="/show_tasks?filter={{ type[0] }}">{{ type[1] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </td>
				<td id="echeance">Echéance</td>
				<td id="actions">Actions</td>
			</tr>
		</thead>
		<tbody>
            
            {% for task in user.get_html_tasks() %}
            <tr id="task_priority_{{ task['priority'][1] }}">
                <td data-label="Tâche">{{ task["title"] }}, {{ task["description"] }}</td>
                <td data-label="Echéance">
                    <div class="div_taches">
                        <p>{{ task["time_left"] }}</p>
                        <txt>{{ task["date"] }}</txt>
                    </div>
                </td>
                <td data-label="Actions">
                    <div class="div_actions">
                        <img src="./static/icons/crayon_couleur.png" alt="Modifier" title="Modifier" width="30%" onclick="edit_task({{ task['id'] }})">
                        <a href="/delete_task?id={{ task['id'] }}"><img src="./static/icons/corbeille_rouge.png" width="30%" alt="Supprimer" title="Supprimer"></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
		</tbody>
	</table>


{% endif %}

    <script>
    window.onclick = function(event) {
       if (event.target.id === "close_task") {
           document.getElementById("task_add_parent").style.display = "none";
           document.getElementById("task_edit_parent").style.display = "none";
       }
    }
    </script>

{% endblock %}


{% if not user %}
    {% include "/templates_forms/login.html" %}
{% else %}
    {% include "/templates_forms/task_add.html" %}
    {% include "/templates_forms/task_edit.html" %}
{% endif %}