<!-- On hérite du template de base -->
{% extends "base.html" %}


<!-- On ajoute notre propre contenu -->
{% block contenu %}

    <input type="submit" id="bouton_nouvelle_tache" value="Nouvelle tâche" onclick="document.getElementById('task_form_parent').style.display = 'block'">

    <!-- Tableau tâches à effectuer-->
    <table id="tableau_taches" cellspacing="0">
		<thead>
			<tr>
				<td id="tache">Tâche</td>
				<td id="echeance">Echéance</td>
				<td id="actions">Actions</td>
			</tr>
		</thead>
		<tbody>
            {% if user %}
                {% for task in user.get_html_tasks() %}
                <tr>
                    <td data-label="Tâche">{{ task["title"] }}, {{ task["description"] }}</td>
                    <td data-label="Echéance">
                        <div class="div_taches">
                            <p>{{ task["time_left"] }}</p>
                            <txt>{{ task["date"] }}</txt>
                        </div>
                    </td>
                    <td data-label="Actions">
                        <div class="div_actions">
                            <a href="/edit_task?id={{ task['id'] }}"></a><input type="image" id="Edit tâche" src="./static/icons/crayon_couleur.png" alt="Modifier" title="Modifier" width="30%" onclick="document.getElementById('task_form_parent').style.display = 'block'"></a>
                            <a href="/delete_task?id={{ task['id'] }}"><img src="./static/icons/corbeille_rouge.png" width="30%" alt="Supprimer" title="Supprimer"></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
		</tbody>
	</table>

{% endblock %}

{% if not user %}
    {% include "/templates_forms/login.html" %}
{% else %}
    {% include "/templates_forms/task.html" %}
{% endif %}