<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../static/styles/mainpage.css" type="text/css">

    <title>ToDoList</title>
</head>
<body>
    <!-- Barre de navigation -->
    <nav id="header">
        <label for="menu-mobile" class="menu-mobile" title="Dérouler le menu">Menu ⬇</label>
        <input type="checkbox" id="menu-mobile" role="button" title="Dérouler le menu">
        <ul>
            <li class="menu1">
                <a href="#">{ ToDo List }</a>
            </li>
            <li class="menu2">
                <a href="#">Calendrier</a>
            </li>
            <li class="menu3">
                <a href="#">A propos</a>
            </li>
            <li class="menu4">
                <a href="{{ url_for('logout') }}">Se déconnecter</a>
            </li>
        </ul>
    </nav>



    <!-- Zone centrale de la page -->
    <div class="container">

        <!-- Message(s) de notification (si il y en a) -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script src="../static/scripts/notification.js"></script>
                {% for message in messages %}
                    <script>
                        notifier('{{ message }}');
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Bloc de contenu géré par les pages héritant de cette page "mère" -->
        <br />


    </div><!-- /.container -->

    <div id="info">
        <h1>Accueil</h1>
        <p>Bienvenue sur l'application <strong>ToDoList</strong> gérant vos tâches</p>
    </div>

    {% block contenu %}
    {% endblock %}


    <!-- Chargement des fichier Javascript de Bootstrap à la fin pour ne pas retarder la page -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/scripts/base.js"></script>
</body>
</html>