<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../static/styles/mainpage.css" type="text/css">

    <title>ToDoList</title>
</head>
<body>
    <!-- Barre de navigation -->
    <nav id="header">
        <ul>
            <li>
                <a href="#">{ ToDoList }</a>
            </li>
            <li>
                <a href="#">Calendrier</a>
            </li>
            <li>
                <a href="#">A propos</a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}">Se déconnecter<img src="../static/icons/logout_blanc.png" width="10%"></a>
            </li>
        </ul>
    </nav>


    <!-- Zone centrale de la page -->
    <div class="container">

        <!-- Message(s) de notification (si il y en a) -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="alert">
                {% for message in messages %}
                
                    <p>{{ message }}</p>
                
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- Bloc de contenu géré par les pages héritant de cette page "mère" -->
        <br />
        {% block contenu %}
        {% endblock %}

    </div><!-- /.container -->

    <div id="info">
        <h1>Accueil</h1>
        <p>Bienvenue sur l'application <strong>ToDoList</strong> gérant vos tâches</p>
    </div>

    <input type="submit" id="bouton_nouvelle_tache" value="Nouvelle tâche">

    <!-- Tableau tâches à effectuer-->
    <table id="tableau_taches" cellspacing="0">
		<thead>
			<tr>
				<td id="tache">Tâche</td>
				<td id="echeance">Echéance</td>
				<td id="actions">Actions</td>
			</tr>
		</thead>
		<tbody>

                <tr>
                    <td>Faire la cuisine</td>
                    <td>
                        <div class="div_taches">
                            <p>Dans 6 jours et 4 heures</p>
                            <txt>Samedi 16 Novembre 2022 13h30</txt>
                        </div>
                    </td>
                    <td>
                        <div class="div_actions">
                            <img src="./static/icons/crayon_couleur.png" width="30%" alt="Modifier" title="Modifier">
                            <img src="./static/icons/corbeille_rouge.png" width="30%" alt="Supprimer" title="Supprimer">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Faire la cuisine</td>
                    <td>16h30</td>
                    <td>
                        <div class="div_actions">
                            <img src="./static/icons/crayon_couleur.png" width="30%" alt="Modifier" title="Modifier">
                            <img src="./static/icons/corbeille_rouge.png" width="30%" alt="Supprimer" title="Supprimer">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Faire la cuisine</td>
                    <td>16h30</td>
                    <td>
                        <div class="div_actions">
                            <img src="./static/icons/crayon_couleur.png" width="30%" alt="Modifier" title="Modifier">
                            <img src="./static/icons/corbeille_rouge.png" width="30%" alt="Supprimer" title="Supprimer">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Faire la cuisine</td>
                    <td>16h30</td>
                    <td>
                        <div class="div_actions">
                            <img src="./static/icons/crayon_couleur.png" width="30%" alt="Modifier" title="Modifier">
                            <img src="./static/icons/corbeille_rouge.png" width="30%" alt="Supprimer" title="Supprimer">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Faire la cuisine</td>
                    <td>16h30</td>
                    <td>
                        <div class="div_actions">
                            <img src="./static/icons/crayon_couleur.png" width="30%" alt="Modifier" title="Modifier">
                            <img src="./static/icons/corbeille_rouge.png" width="30%" alt="Supprimer" title="Supprimer">
                        </div>
                    </td>
                </tr>


		</tbody>
	</table>

    <!-- Chargement des fichier Javascript de Bootstrap à la fin pour ne pas retarder la page -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/scripts/base.js"></script>
</body>
</html>