<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../static/styles/mainpage.css" type="text/css">

    <title>ToDoList</title>
</head>
<body>
<!-- Barre de navigation -->
<nav id="header">
    <label for="menu-mobile" class="menu-mobile" title="Dérouler le menu">Menu ⬇</label>
    <input type="checkbox" id="menu-mobile" role="button" title="Dérouler le menu">
    <ul>
        <li class="menu1">
            <a href="{{ url_for('index') }}">{ ToDo List }</a>
        </li>
        <li class="menu2">
            <a href="{{ url_for('calendar') }}">Calendrier</a>
        </li>
        <li class="menu3">
            <a href="{{ url_for('stats') }}">Statistiques</a>
        </li>
        <li class="menu4">
            <a href="{{ url_for('logout') }}">Se déconnecter</a>
        </li>
    </ul>
</nav>


<!-- Zone centrale de la page -->
<div class="container">

    <!-- Message(s) de notification (si il y en a) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script src="../static/scripts/notification.js"></script>
            {% for category, message in messages %}
                {% if user and category == 'notifier-' + user.get_username() %}
                    <script>
                        notifier('{{ message }}');
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Bloc de contenu géré par les pages héritant de cette page "mère" -->
    <br/>


</div><!-- /.container -->

{% block contenu %}
{% endblock %}

{% block script %}
{% endblock %}
<br><br>
</body>
</html>