<!-- On hérite du template de base -->
{% extends "base.html" %}
<!-- # TODO:
    AFFICHER UNIQUEMENT LES TACHES DU MOIS EN EN COURS 
    AFFICHER AUTRES MOIS
-->

<!-- On ajoute notre propre contenu -->
{% block contenu %}

{% set current_date = calendar.get_current_day(month_in_str=True) %}
{% set days_in_a_week = ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"] %}

<link rel="stylesheet" href="../static/styles/calendar.css">

<div id="calendar_parent">
    
    <div class="wrapper">
        <header>
            <p class="current-date">{{ current_date["month"]}} {{ current_date["year"] }}</p>
            <!--<div class="icons">
                <span id="prev" class="material-symbols-rounded"><</span>
                <span id="next" class="material-symbols-rounded">></span>
            </div>-->
        </header>
        <div class="calendar">
            
            <ul class="weeks">
                {% for days_in_week in days_in_a_week %}
                    <li>
                        <p>{{ days_in_week[0:3] }}</p>
                        {% for day in calendar.get_days_from_name(current_date["year"], current_date["month"], days_in_week) %}
                            {% if calendar.get_day(current_date["year"], current_date["month"], 1)["nb_jour_semaine"] <= day["nb_jour"] <= 7 %}
                                <div class="parent_day"><p class="null">ㅤ</p></div>
                            {% endif %}
                            
                            {% if current_date["day"] == day["nb_jour"] %}
                                {% set class = "active_day" %}
                            {% else %}
                                {% set class = "day" %}
                            {% endif %}
                            
                            <div class="parent_day">
                                <p class="{{class}}">{{ day["nb_jour"] }}</p>
                                {% for task in user.get_html_tasks() %}
                                    {% if task["date"].split()[1] | int == day["nb_jour"] %}
                                        <div class="task">{{ task["title"] }}</div>
                                        <script>document.getElementsByTagName("p")[document.getElementsByTagName("p").length -1].className = "day_task";</script>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            
                        {% endfor %}
                    </li>
                {% endfor %}
                
                


            </ul>
            <ul class="days"></ul>
        </div>
    </div>
  
</div>


{% endblock %}