<!-- On hérite du template de base -->
{% extends "base.html" %}


<!-- On ajoute notre propre contenu -->
{% block contenu %}

    <link rel="stylesheet" href="../static/styles/stats.css">

    <!-- Informations -->
    <div id="info">
        <h1>Statistiques</h1>
        <p>Voici la partie statistique de l'application <strong>ToDoList</strong>.</p>
    </div>

    <!-- Graphiques -->
    <div id="main_stats">
        <div id="graph_1">
            <canvas id="graph1" width="100" height="100"></canvas>
        </div>
        <div id="graph_2">
            <canvas id="graph2" width="100" height="100"></canvas>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        // Changement de la couleur du texte en fonction du thème
        Chart.defaults.global.defaultFontColor = window.matchMedia('(prefers-color-scheme: dark)').matches ? "#fff" : "#000";
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
            Chart.defaults.global.defaultFontColor = e.matches ? "#fff" : "#000";
            location.reload();
        });
        // Création des graphiques
        const graph_1 = document.getElementById('graph1').getContext('2d');
        new Chart(graph_1, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [{{ user_stats.get_tasks_in_progress_count() }}, {{ user_stats.get_tasks_done_count() }}],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 99, 132, 1)',
                    ],
                }],
                labels: [
                    'Tâches en cours',
                    'Tâches terminées'
                ],
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                    reverse: true,
                },
                title: {
                    display: true,
                    text: 'Tâches en cours VS terminées'
                }
            }
        });


        const graph_2 = document.getElementById('graph2').getContext('2d');
        new Chart(graph_2, {
            type: 'radar',
            data: {{ radars_json | safe }},
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                    reverse: true,
                },
                title: {
                    display: true,
                    text: 'Tâches dans différentes catégories'
                },
                scale: {
                    ticks: {
                        beginAtZero: true,
                        showLabelBackdrop: false,
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return data.datasets[tooltipItem.datasetIndex].label + ': ' + tooltipItem.yLabel;
                        }
                    }
                }
            }
        });
    </script>

{% endblock %}