<!-- On hérite du template de base -->
{% extends "base.html" %}


<!-- On ajoute notre propre contenu -->
{% block contenu %}

<div id="info">
    <h1>Statistiques</h1>
    <p>Voici la partie statistique de l'application <strong>ToDoList</strong></p>
</div>

<style>

    #main_stats {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    #graph_1, #graph_2 {
        width: 32%;
        height: auto;
    }


</style>
<div id="main_stats">
    <div id="graph_1">
        <canvas height="100" id="graph1" width="100"></canvas>
    </div>
    <div id="graph_2">
        <canvas height="100" id="grahp2" width="100"></canvas>
    </div>
    {% endblock %}

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        var graph_1 = document.getElementById('graph1').getContext('2d');
        new Chart(graph_1, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [{{user_stats.get_tasks_in_progress_count()}}, {{user_stats.get_tasks_done_count()}}
        ],
        [
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 99, 132, 0.2)',
        ],
            borderColor
        :
        [
            'rgba(54, 162, 235, 1)',
            'rgba(255, 99, 132, 1)',
        ],
        }],

        [
            'Tâches en cours',
            'Tâches terminées'
        ],
        },
        {
            true,
                legend
        :
            {
                'top',
                    reverse
            :
                true,
            }
        ,
            {
                true,
                    text
            :
                'Tâches en cours VS terminées'
            }
        }
        })

    </script>

    {% endblock %}