@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --background_color_tableau: white;
    --bordures_interieurs: #dddddd;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* Menu */
nav {
    width: 100%;
    background-color: #424558;
    height: 64px;
    font-family: 'Poppins', sans-serif;
}

nav > ul {
    margin: 0;
    padding: 0;
}

nav > ul > li {
    float: left;
    position: relative;
}

nav > ul > li > a {
    padding: 20px 30px;
    color: white;
}

nav li {
    list-style-type: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background-color: #5f647f;
}

nav img {
    margin-left: 10px;
    margin-top: 3px;
    position: absolute;
}


/* Alertes Flask */

#alert {
    font-family: sans-serif;
    margin: auto;
    background-color: rgb(216, 216, 216);
    width: 70%;
    border-radius: 3px;
    border: 2px solid rgb(194, 194, 194);
}

#alert p {
    padding: 0px;
    line-height: 22px;
    margin-left: 40px;
    margin-right: 40px;
}


/* Info */

#info {
    font-family: sans-serif;
    margin: 0 13% 0 13%;
}




/* Bouton */

#bouton_nouvelle_tache {
    display: block;
    margin: auto;
	margin-top: 20px;
	border: none;
    border-radius: 4px;
	box-shadow: none;
	padding: 10px 25px;
	background: #333;
	color: #FFF;
	font-size: 16px;
	cursor: pointer;
    transition: all 0.06s ease-in;
}

#bouton_nouvelle_tache:hover {
    background: #00BCD4;
}


/* Tableau Tâches */
#tableau_taches {
    margin: auto;
	margin-top: 30px;
    font-size: 17px;
    font-family: sans-serif;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    border: 4px solid hsl(168, 100%, 30%);
    width: 74%;
    display: block;
    max-height: 500px;
    overflow-y: scroll;
    font-weight: bold;
}
    /* Head */
#tableau_taches thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


    /* th, td */
#tableau_taches th,
#tableau_taches td {
    padding: 12px 15px;
}

    /* thead */
#tableau_taches thead #tache {
	width: 40%;
}

#tableau_taches thead #echeance {
	width: 28%;
}

#tableau_taches thead #actions {
	width: 11%;
}

    /* thbody tr */
#tableau_taches tbody tr {
    height: 100px;
}

    /* Bordures intérieurs */
#tableau_taches tbody tr td:not(:first-child) {
	border-left: 2px solid var(--bordures_interieurs);
}

#tableau_taches tbody tr td {
	border-bottom: 2px solid var(--bordures_interieurs);

}

#tableau_taches tbody tr {
	background-color: var(--background_color_tableau);
}

    /* Actions img */
#tableau_taches .div_actions {
    text-align: center;

}

#tableau_taches .div_actions img {
    margin: 0px 8px;
    cursor: pointer;
}

    /* Scrollbar */
#tableau_taches::-webkit-scrollbar {
    width: 12px;
}
  
#tableau_taches::-webkit-scrollbar-track {
    background-color: #d9d9d9;
}

#tableau_taches::-webkit-scrollbar-thumb {
    background: hsl(168, 100%, 30%);
    box-shadow: inset 0 0 5px rgb(62, 162, 119);
}

    /* Echéance date */
#tableau_taches txt {
    color: rgb(177, 177, 177);
}
