@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --background_color_tableau: white;
    --bordures_interieurs: #dddddd;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/* Form */


#login_form {
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
	z-index: 1;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
	width: 500px;
	padding: 40px;
	background: #2F2F2F;
}

#login_form_parent {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(8px);
}

#login_form h2 {
	color: #FFF;
	margin-bottom: 45px;
}

.input_box {
	position: relative;
	height: 40px;
	width: 100%;
}

.input_box input {
	position: absolute;
	background: transparent;
	border:none;
	box-shadow: none;
	font-size: 16px;
	color: #FFF;
	width: 100%;
}

.input_box label {
	position: absolute;
	top: 0;
	left: 0;
	color: #555;
	pointer-events: none;
	display: block;
	transition: 0.5s;
}

.input_box input:focus + label, .input_box input:valid + label {
	transform: translateY(-35px);
	font-size: 14px;
	color: #FFF;
	background: #FF006A;
	padding: 2px 6px;
}

.input_box span {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	background: #555;
	width: 100%;
	height: 2px;
}

.input_box span:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00B0FF;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

.input_box input:focus ~ span:before,
.input_box input:valid ~ span:before {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}


/* Bouton */

#login_form #btn {
	margin-top: 20px;
	border: none;
	box-shadow: none;
	padding: 10px 25px;
	background: #333;
	color: #FFF;
	font-size: 16px;
    cursor: pointer;
    transition: all 0.06s ease-in;
}

#login_form #btn:hover {
    background: #00BCD4;
}



/* Bouton */

#bouton_nouvelle_tache {
    display: block;
    margin: auto;
	margin-top: 20px;
	border: none;
    border-radius: 4px;
	box-shadow: none;
	padding: 10px 25px;
	background: #333;
	color: #FFF;
	font-size: 16px;
	cursor: pointer;
    transition: all 0.06s ease-in;
}

#bouton_nouvelle_tache:hover {
    background: #00BCD4;
}


/* Tableau Tâches */
#tableau_taches {
    margin: auto;
	margin-top: 30px;
    font-size: 17px;
    font-family: sans-serif;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    border: 4px solid hsl(168, 100%, 30%);
    width: 74%;
    display: block;
    max-height: 500px;
    overflow-y: scroll;
    font-weight: bold;
}
    /* Head */
#tableau_taches thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


    /* th, td */
#tableau_taches th,
#tableau_taches td {
    padding: 12px 15px;
}

    /* thead */
#tableau_taches thead #tache {
	width: 40%;
}

#tableau_taches thead #echeance {
	width: 28%;
}

#tableau_taches thead #actions {
	width: 11%;
}

    /* thbody tr */
#tableau_taches tbody tr {
    height: 100px;
}

    /* Bordures intérieurs */
#tableau_taches tbody tr td:not(:first-child) {
	border-left: 2px solid var(--bordures_interieurs);
}

#tableau_taches tbody tr td {
	border-bottom: 2px solid var(--bordures_interieurs);

}

#tableau_taches tbody tr {
	background-color: var(--background_color_tableau);
}

    /* Actions img */
#tableau_taches .div_actions {
    text-align: center;

}

#tableau_taches .div_actions img {
    margin: 0px 8px;
    cursor: pointer;
}

    /* Scrollbar */
#tableau_taches::-webkit-scrollbar {
    width: 12px;
}
  
#tableau_taches::-webkit-scrollbar-track {
    background-color: #d9d9d9;
}

#tableau_taches::-webkit-scrollbar-thumb {
    background: hsl(168, 100%, 30%);
    box-shadow: inset 0 0 5px rgb(62, 162, 119);
}

    /* Echéance date */
#tableau_taches txt {
    color: rgb(177, 177, 177);
}
